<div>
  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>      
        <th>Time</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.name}}</td>
        <td>{{event.date}} </td>      
        <td>{{event.time}}</td>
        <td>{{event.location.address}}, {{event.location.city}}, {{event.location.country}}</td>
        <td><button class="btn btn-warning" (click)="editEvent(event.id)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <a [routerLink]="['/newevent']">Create New Event</a>
</div>